<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WMS_coin</title>
        <style>
            body {
                text-align: center;
                background-image: linear-gradient(to right, #b892ff, #6e44ff);
            }
        </style>
    </head>
    <body>
        차트에 왔노라!!!!!!!!!!!!!!!!!
    </body>
</html>
