<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="shortcut icon" href="./favicon.png" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WMS_coin</title>
</head>
<body>
    <h1>loged in</h1><br>
    <b>코인개수: {{countcoin}} 개</b>
    <div class="col-sm-6 clearfix">
        <div class="user-profile pull-right">
            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{username}} <i class="fa fa-angle-down"></i></h4>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="logout">Log Out</a>
            </div>
        </div>
    </div>
</html>